body {
    background-color: #ADD8E6;
  }
  
  h1 {
    color: #FF69B4;
    text-align: center;
  }
  
  p {
    font-size: 20px;
    color: #40E0D0;
    text-align: center;
  }
  
  button {
    background-color: #FFA07A;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
  }